/* Cores Módulo 1 */
.modulo_1 .destaque p {
  color: var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .destaque:before {
  top: -5px;
  background-image: url(../../assets/images/module_1/svg/destaque-top-modulo1.svg);
}

.modulo_1 .destaque:after {
  background-image: url(../../assets/images/module_1/svg/destaque-bottom-modulo1.svg);
}

.modulo_1 .color-box-normal {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
}
.modulo_1 .color-box-strong {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
}
.modulo_1 .color-box-light {
  background: var(--THEME_COLOR_MODULE_ONE_LIGHT);
}
.modulo_1 .color-box-super-light {
  background: var(--THEME_COLOR_MODULE_ONE_SUPER_LIGHT);
}

/* MODULES SPECIFIC FORMAT */

.modulo_1 .ventanita-show {
  background: var(--INVISIBLE);
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 .ventanita-show.active {
  color: var(--THEME_COLOR_MODULE_ONE) !important;
  background: var(--THEME_COLOR_MODULE_ONE_STRONG) !important;
  font-weight: bold;
}

.modulo_1 .pin-marker {
  background-image: url(../../assets/images/module_1/resources/marcador.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 45px;
}

.modulo_1 .ventanita-caract {
  background: var(--INVISIBLE);
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  padding: 30px;
}

.modulo_1 .split_button {
  background: var(--INVISIBLE);
  border: 2px solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_COLOR_MODULE_ONE_STRONG);
  transform: scale(0.9);
  filter: opacity(0.7);
  filter: grayscale(0.8);

}

.modulo_1 .split_button.active {
  background: var(--THEME_COLOR_MODULE_ONE_SUPER_LIGHT);
  transform: scale(1);
  filter: opacity(1);
  filter: grayscale(0)
}

.modulo_1 .split_text_box {
  background: var(--INVISIBLE);
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  padding: 30px !important;
}

.modulo_1 .jesus_slider_no_arrow .slide_ball {
  background: var(--INVISIBLE);
  border-color: var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .jesus_slider_no_arrow .active .slide_ball {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG) !important;
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 .jesus_slider_no_arrow_image_background .active .slide_ball {
  background: url(../../assets/images/module_1/resources/hex_active.png) center
    center no-repeat;
  background-size: 100%;
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 .jesus_slider_no_arrow_image_background .slide_ball {
  background: url(../../assets/images/module_1/resources/hex.png) center center
    no-repeat;
  background-size: 100%;
  border-color: var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .jesus_board {
  background: var(--INVISIBLE);
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  border-radius: 15px;
}

.modulo_1 .flipster_slide {
  border: 2px solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .flipster_carousel_slide {
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .flip-card-front {
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .flip-card-back {
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}
.modulo_1 .progress-bar {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .progress {
  border: 2px solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .progress-bar-container {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .radial-bt {
  background: white;
  border: 2pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
  border-radius: 50%;
}

.modulo_1 .radial-bt i {
  display: none;
}
.modulo_1 .progress-next {
  background-image: url(../../assets/images/module_1/resources/seta.png);
  background-repeat: no-repeat;
  background-position: center;
}

.modulo_1 .progress-prev {
  background-image: url(../../assets/images/module_1/resources/seta.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: scaleX(-1); /* Gecko */
  -o-transform: scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1); /* Standard */
}

.modulo_1 .para-pensar {
  border: 3pt solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .citacao p {
  color: #706f6f;
}

.modulo_1 .matchup-card-front.flip-card-front {
  background: var(--THEME_COLOR_MODULE_ONE_LIGHT);
}

.modulo_1 .questions {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_COLOR_MODULE_ONE);
  margin: 0;
  margin-bottom: 30px;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.modulo_1 .lss_quiz_no_animation label {
  -webkit-box-shadow: 0px 8px 0px 0px #f6f6f6;
  -moz-box-shadow: 0px 8px 0px 0px #f6f6f6;
  box-shadow: 0px 8px 0px 0px #f6f6f6;
  border-radius: 10px;
  border: 1px solid #c6c6c6;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-size: 16px;
}

.modulo_1 .lss_quiz_no_animation .checkbox-radio-custom {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.15em;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.5em;
  margin-top: 0.3em;
  float: left;
}

.modulo_1 .lss_quiz_no_animation .progress {
  position: unset;
  top: 0;
  width: 100%;
  margin: 0 10px;
  border: unset;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 30px 30px;
  background: #36b6bb;
  -webkit-animation: lss-progress-bar-stripes 2s linear infinite;
  animation: lss-progress-bar-stripes 2s linear infinite;
}

.modulo_1 .lss_quiz_no_animation .check-onradio {
  display: none;
  transform: scale(1) rotateZ(0deg);
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 5%;
}

.modulo_1 .lss_quiz_no_animation .input-box {
  display: none;
}

.modulo_1 .lss_quiz_no_animation .questionsBox {
  box-shadow: unset;
  border-radius: 8px;
  padding: 30px;
  background: white;
  margin: 0;
}

.modulo_1 .lss_quiz_no_animation .answerList {
  padding: 0;
}

.modulo_1 .lss_quiz_no_animation .answerList {
  margin: 0;
}

.modulo_1 .lss_quiz_no_animation .feedback-box {
  display: none;
  padding: 0;
  border: 0;
}

.modulo_1 .lss_quiz_no_animation .feedback-box img {
  position: unset;
  bottom: 0;
  left: 0;
}

.modulo_1 #nextquestion {
  border: solid 3pt var(--THEME_COLOR_MODULE_ONE_STRONG);
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
  color: var(--THEME_FONT_COLOR);
}

.modulo_1 #progress_lettering {
  color: white;
  border: solid 1pt var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.modulo_1 .lss-progress-bar {
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
}

.lss-progress-striped .lss-progress-bar {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 30px 30px;
}

.modulo_1 .box-dtq div {
  border: 2px solid var(--THEME_COLOR_MODULE_ONE_STRONG);
}

/* EMBELLEZE */

.box-top {
  width: 100%;
  min-height: 80px;
  height: 200px;
  background: var(--THEME_COLOR_MODULE_ONE_STRONG);
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}

.box-gray {
  width: 100%;
  min-height: 80px;
  background: #f5f5f5;
  border: 1px solid #c7cdd1;
  border-radius: 8px;
  padding: 15px;
}

.belle-degrade {
  background: linear-gradient(
    45deg,
    #F3954a,
    #f07421,
    #f3ab70
  );
  background-size: 300% 100%;
  animation: gradient 2s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.fade-text-glowing {
  color: #fff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px, 2px 2px 2px rgba(206, 89, 55, 0);
}

/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* MODAIS */
.btn-saibamais,
.btn-sucessonacarreira,
.btn-dicadabelle,
.btn-fiqueatento {
  width: 339px;
  height: 139px;
}
.box-saibamais,
.box-sucessonacarreira,
.box-dicadabelle,
.box-fiqueatento {
  width: 800px;
  height: 300px;
}

.btn-saibamais {
  background: url("../../assets/images/identity/objects/common_components/saibamais/btn.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-sucessonacarreira {
  background: url("../../assets/images/identity/objects/common_components/sucessonacarreira/btn.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-dicadabelle {
  background: url("../../assets/images/identity/objects/common_components/dicadabelle/btn.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-fiqueatento {
  background: url("../../assets/images/identity/objects/common_components/fiqueatento/btn.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.box-saibamais {
  background: url("../../assets/images/identity/objects/common_components/saibamais/bg_g.jpg");
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
}
.box-sucessonacarreira {
  background: url("../../assets/images/identity/objects/common_components/sucessonacarreira/bg_g.jpg");
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
}
.box-dicadabelle {
  background: url("../../assets/images/identity/objects/common_components/dicadabelle/bg_g.jpg");
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
}
.box-fiqueatento {
  background: url("../../assets/images/identity/objects/common_components/fiqueatento/bg_g.jpg");
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
}
.box-txt {
  padding: 10px;
  overflow-y: auto;
  max-height: 250px;
}
.box-txt p {
  color: #fff;
  padding: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .btn-saibamais,
  .btn-sucessonacarreira,
  .btn-dicadabelle,
  .btn-fiqueatento {
    width: 230px;
    height: 94px;
  }
  .box-saibamais,
  .box-sucessonacarreira,
  .box-dicadabelle,
  .box-fiqueatento {
    width: 470px;
    height: 489px;
  }
  .box-saibamais {
    background: url("../../assets/images/identity/objects/common_components/saibamais/bg_m.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding: 0;
    /* background-size: 100% 100%; */
  }
  .box-sucessonacarreira {
    background: url("../../assets/images/identity/objects/common_components/sucessonacarreira/bg_m.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding: 0;
    /* background-size: 100% 100%; */
  }
  .box-dicadabelle {
    background: url("../../assets/images/identity/objects/common_components/dicadabelle/bg_m.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding: 0;
    /* background-size: 100% 100%; */
  }
  .box-fiqueatento {
    background: url("../../assets/images/identity/objects/common_components/fiqueatento/bg_m.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding: 0;
    /* background-size: 100% 100%; */
  }

  .modal .row {
    position: relative;
    /* transform: translatey(-70%);
    top: 70%; */
  }
}
@media (max-width: 767px) {
  .box-saibamais,
  .box-sucessonacarreira,
  .box-dicadabelle,
  .box-fiqueatento {
    width: 300px;
    height: 548px;
  }
  .box-saibamais {
    background: url("../../assets/images/identity/objects/common_components/saibamais/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    padding: 0;
  }
  .box-sucessonacarreira {
    background: url("../../assets/images/identity/objects/common_components/sucessonacarreira/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    padding: 0;
  }
  .box-dicadabelle {
    background: url("../../assets/images/identity/objects/common_components/dicadabelle/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    padding: 0;
  }
  .box-fiqueatento {
    background: url("../../assets/images/identity/objects/common_components/fiqueatento/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    padding: 0;
  }
}
@media (max-width: 577px) {
  .box-saibamais,
  .box-sucessonacarreira,
  .box-dicadabelle,
  .box-fiqueatento {
    width: 290px;
    height: 529px;
  }
  .box-saibamais {
    background: url("../../assets/images/identity/objects/common_components/saibamais/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
  }
  .box-sucessonacarreira {
    background: url("../../assets/images/identity/objects/common_components/sucessonacarreira/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
  }
  .box-dicadabelle {
    background: url("../../assets/images/identity/objects/common_components/dicadabelle/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
  }
  .box-fiqueatento {
    background: url("../../assets/images/identity/objects/common_components/fiqueatento/bg_p.jpg");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
  }
  .modal-lg {
    width: 95vw !important;
  }
}
/* ./ MODAIS */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */

.tab-items {
  width: 100%;
  height: 45px;
}
.tab-items ul {
  margin: 0;
  float: right;
}
.tabs .tab-content {
  background-color: var(--THEME_COLOR_MODULE_ONE_LIGHT) !important;
  border-right: 1px solid var(--THEME_COLOR_MODULE_ONE_LIGHT);
  border-left: 1px solid var(--THEME_COLOR_MODULE_ONE_LIGHT);
  border-bottom: 1px solid var(--THEME_COLOR_MODULE_ONE_LIGHT);
  border-top: 1px solid var(--THEME_COLOR_MODULE_ONE_LIGHT);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tabs .nav-tabs .nav-link {
  margin-left: 3px;
  color: var(--THEME_COLOR_MODULE_ONE) !important;
  background-color: var(--THEME_COLOR_MODULE_ONE_LIGHT) !important; /* TROCA A COR DAS ABAS NÃO SELECIONADAS */
  border: none;
  border-bottom: 1px solid transparent !important;
  border-radius: 0;
}
.tabs .nav-item > a.active {
  color: var(--THEME_COLOR_MODULE_ONE) !important;
  border: 1px solid var(--THEME_COLOR_MODULE_ONE_STRONG) !important;
  border-bottom: 1px solid transparent !important;
  background-color: var(--THEME_COLOR_MODULE_ONE_STRONG) !important;
}
.tabs .nav-item > a:not(.active) {
  text-overflow: ellipsis;
  max-width: 145px;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 991px) {
  .tabs .nav-item > a:not(.active) {
    text-overflow: ellipsis;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
  }
}

@-webkit-keyframes accordion_active_animation {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}
@-moz-keyframes accordion_active_animation {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}
@keyframes accordion_active_animation {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}
